<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Lena Poshni">
        <meta name="keywords" content="Carnegie Mellon University, Information Systems">
        <meta name="description" content="Lena Poshni professional website">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title> Lena Poshni </title>
        
    </head>
<body style> 
    <header>
        <h1 id="webname"> Lena Poshni </h1>
        <nav> 
            <a href="../index.html"> Home </a>
            <a href="cv.html">Resume Information</a> 
            <a href="contact.html">Reach out!</a>
            <a href="fun.html">About me</a>
        </nav>
    </header>

    <div class = "main"> 
        <h2> Curriculum Vitae </h2>
        
        <table border="2">
            <thead> 
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Carnegie Mellon University</td>
                    <td>A current Sophomore studying Information Systems with a minor in Financial Management.</td>
                </tr>
                <tr>
                    <td>Research Assistant for Professor Padman</td>
                    <td>Educating individuals on key financial terms in the healthcare insurance space to prioritize patients’ understanding of their healthcare benefits.</td>
                </tr>
                <tr>
                    <td>Horizon Advisory Software Engineering Intern</td>
                    <td>Embedding Python translation scripts into a Flask-based web application to streamline multilingual document processing using its versatile and scalable architecture.</td>
                </tr>
                <tr>
                    <td>Eastern Healthcare Financial Services Intern</td>
                    <td>Accessed and analyzed a large-scale database containing 1,000+ data tables related to billing, provider networks, patient appointments, administrative records, and transactional data.</td>
                </tr>
                <tr>
                    <td>Horizon’s Greater Washington Teacher’s Assistant</td>
                    <td>As a teaching assistant, I provided direct support to students. I worked closely with the lead teachers to create and execute interactive lesson plans and classroom activities, helping students achieve both academic and personal growth.</td>
                </tr>
            </tbody>
        </table>
    <p> Download my Resume using this link: <a href="../static/LenaPoshniResume.pdf" target="_blank"> Lena Poshni Resume </a> </p>

    </div>

    <footer>
        <p>&copy; 2025 designed 🎨 and coded 👩‍💻 by Lena Poshni </p>
    </footer>

</body>

</html>