<!DOCTYPE html>
<html lang="en">
    <head> 
        <script defer src="../static/script.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Lena Poshni">
        <meta name="keywords" content="Carnegie Mellon University, Information Systems">
        <meta name="description" content="Lena Poshni professional website">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <title> Lena Poshni </title>
    
    </head>
<body> 
    <header>
        <h1 id="webname"> Lena Poshni </h1>
        <nav> 
             <a href="../index.html"> Home </a>
             <a href="cv.html">Curriculum Vitae</a> 
             <a href="contact.html">Contact me!</a>
             <a href="fun.html">About me</a>
        </nav>
    </header>

    <div class = "main"> 
        <h2> Things I love to do for fun </h2>
        <ul>
            <li><strong>Music:</strong> I love listening to music but also playing music. I can play both the violin and the piano.</li>
            <li><strong>Cooking:</strong> I love to bake and cook in my free time. My favorite (and easiest) dish I can make is chicken alfredo!</li>
            <li><strong>Traveling:</strong> I love to travel! My favorite places I've been include St. Moritz (Switzerland), Lake Como (Italy), and Milan (Italy).</li>
            <li><strong>Spending time with family and friends:</strong> I love sharing time with my loved ones and making great memories together.</li>
            <li><strong>Photography:</strong> I love taking pictures with my camera!</li>
        </ul>


    </div>

    <footer>
        <p>&copy; 2025 designed 🎨 and coded 👩‍💻 by Lena Poshni </p>
    </footer>

</body>

</html>