* { 
    margin: 5px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wght" 100;
} 
    

.header { 
    color: #A27070; 
}


#webname {
    background-color: #CBC2DC; 
    color: #A27070;
    padding: 10px;
}

img { 
    width: 10%
}

a {
    text-decoration: none; 
    margin-right: 15px;
    color: #CBC2DC;
}

th { 
    padding: 12px; 
    color: rgb(7, 6, 6); 
    background-color: #A27070; 
    width: fit-content; 
}

tr:nth-child(even) { 
    background-color: #aeadad; 
}


form * {
    display: block; 
    margin: auto;  
    text-align: center; 
}


#funList {
    display: none;
    background-color: #CBC2DC;
    width: 200px;
    border: black; 
}

#showButton {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #A27070;
}

#showButton:hover {
    background-color: #0056b3;
}

#fullBio {
    display: none;
}

#readLess {
    display: none;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-left: 10px;
}